export OPTR_ENV="developer-env"
export OPTR_RELEASE=$(git describe --tags --dirty='*')
export OPTR_BUILT=$(date -Iseconds)
export OPTR_NOTIFICATION_TG_TOKEN=telegram_bot_token_goes_here
export OPTR_SENTRY_DSN=sentry_dsn_url
